body {
	font-family: "微软雅黑";
	padding-top: 86px;
	overflow:auto;
}
a {
	color: #797979;
}
.f-tools {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 10;
}
.f-tools > div {
	position: relative;
	margin-top: 1px;
}
.f-tools > div em,
.f-tools > div i {
	position: absolute;
	top: 15px;
	width: 0;
	height: 0;
	display: none;
}
.f-tools > div:hover em,
.f-tools > div:hover i {
	display: block;
}
.f-tools > div > div {
	position: absolute;
	display: none;
	bottom: -40px;
	padding-right: 10px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.f-tools > div em {
	left: -10px;
	border-top: 7px transparent solid;
	border-left: 8px #0055a4 solid;
	border-bottom: 7px transparent solid;
}
.f-tools > div i {
	left: -11px;
	border-top: 7px transparent solid;
	border-left: 8px #ffffff solid;
	border-bottom: 7px transparent solid;
}
.f-tools > div > a {
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(../img/bg-tools.png);
	background-repeat: no-repeat;
}
.f-tools > .qq > div > div {
	padding: 10px;
	background-color: #fff;
	border: 1px #0055A4 solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.f-tools > .qq > div {
	left: -170px;
	width: 170px;
	display: block;
}
.f-tools > .qq em,
.f-tools > .qq i {
	display: block;
}
.f-tools > .wx > a {
    background-position: 0 -41px;
}
.f-tools > .wx > a:hover {
    background-position: -141px -41px;
}
.f-tools > .qq > a {
	background-position: 0 0;
}
.f-tools > .qq > a:hover {
	background-position: -141px 0;
}
.f-tools > .qq > div dl dt,
.f-tools > .qq > div dl dd {
	padding-bottom: 5px;
	font-weight: 300;
}
.f-tools > .qq > div p {
	padding: 0px 0 10px  0px;
	border-bottom: 1px #ccc dotted;
	font-size: 16px;
	text-align: left;
}
.f-tools > .qq > div p img {
	/* margin: 0 8px 0 -8px; */
}
.f-tools > .qq > div dl dt {
	padding-top: 7px;
}
.f-tools > .qq > div dl dd {
	/* padding: 7px 0; */
}
.f-tools > .qq > div dl dd a,
.f-tools > .qq > div dl dd span {
	display: block;
	padding: 1px 0px;
}
.f-tools > .qq > div dl dd span {
	margin-top: 6px;
}
.f-tools > .tel > a {
	background-position: 0 -82px;
}
.f-tools > .tel > div {
	position: absolute;
	top: 0;
	left: -100px;
	width: 140px;
	height: 40px;
	background: url(../img/bg-tools.png) -41px -82px no-repeat;
}
.f-tools > .top > a {
	background-position: 0 -124px;
}
.f-tools > .top > a:hover {
	background-position: -141px -124px;
}

.f-tools > div.qq:hover > div,
.f-tools > div.tel:hover > div {
	display: block;
}

.f-tools > div.qq:hover ~ div > div,
.f-tools > div.qq:hover ~ div em,
.f-tools > div.qq:hover ~ div i,
.f-tools > div.tel:hover ~ div > div,
.f-tools > div.tel:hover ~ em,
.f-tools > div.tel:hover ~ i {
	display: none;
}
.btn-close {
	position: absolute;
	top: 5px;
	right: 15px;
	display: block;
	width: 12px;
	height: 12px;
	background: #F00;
	text-align: center;
	line-height: 12px;
	color: #fff;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.btn-primary {
	background-color: #0055a4;
	/*border-color: #0055a4;*/
	 width:36px;
	 height:36px;
	 padding:0;
	 border-radius:50%;
}
.btn-primary:hover {
	background-color: #ef4135;
	/*border-color: #ef4135;*/
}
.btn-primary.focus, .btn-primary:focus {
    background-color: #ef4135;
    border-color: #ef4135;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background-color: #ef4135;
    border-color: #ef4135;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	background-color: #ef4135;
    border-color: #ef4135;
}
.navbar {
	border: 0;
	margin-bottom: 0;
	background-color: #fff;
	/*z-index: 9999999;*/
}
.navbar-brand {
	height: auto;
	padding: 10px 0 15px 0;
}
.navbar-toggle {
	border-color: #0055a4;
	margin-top: 35px;
}
.navbar-toggle .icon-bar {
	background-color: #0055a4;
}
@media (max-width:380px){
	.nav li a {
	border-top: 5px #fff solid;
	font-size: 14px;
	padding: 5px 10px;
}
	
}
.nav>li>a {
	border-top: 5px rgba(0, 0, 0, 0) solid;
	font-size: 17px;
    color: #333;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    border-top: 5px #ef4135 solid;
    color: #ef4135;
}
.nav>li>a.link {
	border-top: 0;
	padding-left: 5px;
	padding-right: 0;
}
.nav>li>a.link:hover {
	border-top: 0;
}
.bzjt .carousel-inner>.item {
	width: 100%;
	height: 100%;
}
.bzjt .carousel-inner>.item img {
	border-radius: 5px;
	width: 100%;
}
.carousel-inner>.item {
	width: 100%;
	height: 530px;
}
/*.carousel-control {
	z-index: 99999;
}*/
.carousel-indicators {
	z-index: 99999;
}
.banner {
	position: relative;
	width: 100%;
	height: 530px;
	margin-bottom: 28px;
}
	.my_fa {
	    padding: 15px 20px 20px 20px;
	    background: rgba(255,255,255,0.7);
	    margin-top: 60px;
	    margin-left: 10px;
	   /* width: 304px;
	    height: 404px;*/
		border-radius:10px;
	}
		.my_fa .hd {
			font-size: 24px;
			color: #004ea1;
			margin-bottom: 26px;
		}
		.my_fa .fd {
			font-size: 12px;
			color: #797979;
			margin-top: 26px;
		}
		.my_fa .fd a {
			color: #2e92ef;
		}
.sy-tit {
	color: #0055a4;
	font-size: 18px;
	line-height: 32px;
	padding: 0 10px;
	border-bottom: 1px #dcdcdc solid;
}
.sy-tit.bb0 {
	border-bottom: 0;
}
.diy-ico {
	width: 100%;
	height: 70px;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
}
.diy-1 {
	background-image: url(../img/diy-1.png);
}
.diy-2 {
	background-image: url(../img/diy-2.png);
}
.diy-3 {
	background-image: url(../img/diy-3.png);
}
.diy-4 {
	background-image: url(../img/diy-4.png);
}
.diysc a:hover .diy-1 {
	background-image: url(../img/diy-1h.png);
}
.diysc a:hover .diy-2 {
	background-image: url(../img/diy-2h.png);
}
.diysc a:hover .diy-3 {
	background-image: url(../img/diy-3h.png);
}
.diysc a:hover .diy-4 {
	background-image: url(../img/diy-4h.png);
}
.yxtj .bd {
	height: 334px;
	padding: 30px 25px;
	border: 1px #dcdcdc solid;
	border-radius: 5px;
}
.yxtj .bd .form-group {
    position: relative;
}
.yxtj .bd .button {
    position: absolute;
    height: 38px;
    width: 40px;
    top: 0;
    right: 0;
    font-size: 18px;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    background: #0055a4;
}
.yxtj .bd .form-control {
    height: 38px;
    padding-left: 10px;
    padding-right: 45px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.yxtj .bd .tt {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #515151;
	font-size: 14px;
}
.yxtj-item {
	border: 1px #dcdcdc solid;
	border-radius: 3px;
	overflow: hidden;
	padding: 5px;
	margin-bottom: 10px;
	text-align: right;
}
.yxtj-item a {
	line-height: 36px;
	display: block;
}
.yxtj-item i {
	background-image: url(../img/ico.png);
	background-repeat: no-repeat;
	width: 46px;
	height: 36px;
	display: inline-block;
	float: left;
}
.yxtj-item a:hover {
	color: #ef4135;
	text-decoration: none;
}
.yxtj-item a:hover i{
	background-image: url(../img/ico2.png);
}
.yxtj-item .ico-1 {
	background-position: 0 0;
}
.yxtj-item .ico-2 {
	background-position: 0 -48px;
}
.yxtj-item .ico-3 {
	background-position: 0 -99px;
}
.yxtj-item .ico-4 {
	background-position: 0 -149px;
}
.yxtj-item .ico-5 {
	background-position: 0 -200px;
}
.yxtj-item .ico-6 {
	background-position: 0 -250px;
}

.rmxm .bd {
	padding: 30px 0;
	height: 334px;
}
.rmxm .bd .x {
    width: 100%;
    border-top: 1px #dcdcdc dashed;
    margin: 10px 0;
}
.rmxm-item {

}
.rmxm-item .pic {
	display: block;
}
.rmxm-item .pic img {
    border: 1px #dcdcdc solid;
    padding: 5px 3px;
    border-radius: 3px;
    width: 110px;
    height: 80px;
}
.rmxm-item .tit {
	font-size: 12px;
	color: #515151;
	padding: 5px;
}
.diysc {

}
.diysc .bd {
	padding: 30px 15px 0 15px;
	height: 334px;
}
.diysc .bd a:hover,.diysc .bd a:focus {
	text-decoration: none;
}
.diysc-item {
	margin-bottom: 13px;
	text-align: center;
	border: 1px #dcdcdc solid;
	border-radius: 5px;
	padding: 20px 0 10px 0;
}
.diysc-item .tit {
	margin-top: 15px;
	font-size: 20px;
	color: #515151;
}
.wenda {
	border-radius: 5px;
	background: #ddeefe;
	padding: 25px;
	text-align: center;
	height: 477px;
}
.wenda .hd {
	background: url(../img/x.png) no-repeat center center;
}
.wenda h2 {
	margin-top: 32px;
	margin-bottom: 38px;
}
.wenda h3 {
	margin-bottom: 30px;
}
.wenda h4 {
	color: #0055a4;
}
.wenda p {
	margin-bottom: 23px;
}
.wenda h5 {
	font-size: 18px;
	color: #515151;
	margin-bottom: 35px;
}
.wenda a{text-decoration:none;}
.wenda button.btn-wenda {
	background: transparent;
	border: 1px #ef4135 solid;
	color: #ef4135;
	font-weight: bold;
}
.wenda button.btn-wenda:hover {
	background: transparent;
	border: 1px #0055a4 solid;
	color: #0055a4;
	font-weight: bold;
	text-decoration:none;
}



.wenda span {
	background: url(../img/szbg.png) no-repeat;
	width: 48px;
	height: 89px;
	display: inline-block;
	margin-right: 2px;
	padding-top: 12px;
	line-height: 77px;
	font-size: 60px;
	color: #fff;
}
.wenda .none {
	margin-right: 0;
}
.rmwd .more {
	font-size: 14px;
	float: right;
	color: #515151;
}
.sy-tit .more{
	font-size: 14px;
	float: right;
	color: #515151;
}
.rmwd .bd-head {
	padding: 20px 10px;
	border-bottom: 1px #dcdcdc dashed;
}
.rmwd .wen {
	line-height: 36px;
	height: 36px;
}
.rmwd .da {
	line-height: 36px;
	height: 36px;
}
.rmwd span {
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	display: inline-block;
	color: #fff;
	margin-right: 10px;
	border-radius: 5px;
}
.rmwd .bd-head .wen {
	color: #ef4135;
}
.rmwd .wen span {
	background: #ef4135;
}
.rmwd .bd-head .da {
	color: #0055a4;
}
.rmwd .da span {
	background: #0055a4;
}
.rmwd .bd-main {
	padding: 20px 10px;
	border-bottom: 1px #dcdcdc solid;
}
.rmwd .bd-main a {
	color: #515151;
	font-size: 14px;
}
.bzjt .bd-head {
	padding-top: 35px;
	padding-left: 25px;
	color: #fff;
	background: url(../img/bb.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 154px;
	border-radius: 5px;
}
.bzjt .carousel-indicators {
	bottom: 0!important;
}
.bzjt h3 {
	margin: 0;
	position: absolute;
	top: 30px;
	left: 50px;
	color: #fff;
}
.bzjt .bd-main {
	padding: 10px 10px 0 10px;
}
.bzjt .bd-main ul {
	padding: 0;
}
.bzjt .bd-main ul li {
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
	background: url(../img/li.png) no-repeat left center;
	padding-left: 10px;
}
.swiper-container {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    .swiper-wrapper {
    	padding: 25px 0;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
       /* display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;*/
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide img {
		width: 100%;
    }
.cc {
	overflow: hidden;
	margin-bottom: 40px;
}
.c1 {
/*	background: url(../img/c1.png) no-repeat center center;*/

	width: 17%;
	height: 105px;
	float: left;
	margin-right:30px;
	background-color:#DCECF8;
	border-radius:7px;
}

.c1 img{ float:left;margin: 10px}
.c1 p{ float:left;margin:30px 0 10px 0; font-size:15px; }
.c2 {
	/*background: url(../img/c2.png) no-repeat center center;*/

	width: 17.5%;
	height: 105px;
	float: left;
	margin-right:30px;
	background-color:#DCECF8; 
	border-radius:7px;
}
.c2 img{ float:left;margin: 10px}
.c2 p{ float:left;margin:30px 0 10px 0; font-size:15px; }
.c3 {
	/*background: url(../img/c3.png) no-repeat center center;*/

	width: 17.5%;
	height: 105px;
	float: left;
	margin-right:30px;
	background-color:#DCECF8; 
	border-radius:7px;
}
.c3 img{ float:left;margin: 10px}
.c3 p{ float:left;margin:30px 0 10px 0; font-size:15px; }
.c4 {
	/*background: url(../img/c4.png) no-repeat center center;*/

	width: 17.5%;
	height: 105px;
	float: left;
	margin-right:30px;
	background-color:#DCECF8; 
	border-radius:7px;
}
.c4 img{ float:left;margin: 10px}
.c4 p{ float:left;margin:30px 0 10px 0; font-size:15px; }
.c5 {
	/*background: url(../img/c5.png) no-repeat center center;*/

	width: 17.5%;
	height: 105px;
	float: left;
	background-color:#DCECF8; 
	border-radius:7px;
	
}
.c5 img{ float:left;margin: 10px}
.c5 p{ float:left;margin:30px 0 10px 0; font-size:15px; }
.nav-tabs {
	text-align: center;
	border-bottom-width: 2px;
}
.nav-tabs>li {
	float: none;
	display: inline;
}
.nav-tabs>li>a {
	color: #797979;
	font-size: 18px;
	display: inline-block;
	border: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border: 0;
	font-size: 18px;
	color: #797979;
}
.nav-tabs>li.active>a,.nav-tabs>li>a:focus,.nav-tabs>li>a:hover {
	border: 0;
	background: url(../img/bho.png) no-repeat bottom center;
}
.tab-content .tab-pane {
	padding: 15px 0;
}
.tab-content .tab-pane a {
	margin-right: 10px;
	color: #797979;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	padding-right: 10px;
	border-right: 1px #dcdcdc solid;
}

.tab-content .tab-pane2 {
	padding: 15px 0;
}
.tab-content .tab-pane2 a {
	margin-right: 10px;
	color: #797979;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	padding-right: 10px;
	border-right: 1px #dcdcdc solid;
}


.tab-content .tab-pane3 {
	padding: 15px 0;
}
.tab-content .tab-pane3 a {
	margin-right: 10px;
	color: #797979;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	padding-right: 10px;
	border-right: 1px #dcdcdc solid;
}

.tab-content .tab-pane4 {
	padding: 15px 0;
}
.tab-content .tab-pane4 a {
	margin-right: 10px;
	color: #797979;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	padding-right: 10px;
	border-right: 1px #dcdcdc solid;
}

.lj {
	margin-bottom: 20px;
}
.footer {
	padding: 20px 0 25px 0;
	text-align: center;
	background: #121d28;
	color: #fff;
}
.pos {
	position: absolute;
	top: 0;
	left: 13%;
	/*width: 100%;
	height: 100%;*/
}
.footer h4 {
	margin-bottom: 20px;
}
@media (max-width: 1280px) {
	 .header-container .navbar-fixed-top .container{ width:100%}

}
@media (max-width: 1199px) {
	.nav>li>a {
		font-size: 16px;
	}
	.nav-tabs>li>a {
		font-size: 18px;
	}
}
@media (max-width: 992px) {
	.bzjt .bd-main li a {
		font-size: 13px;
	}
	body {
		padding-top: 156px;
	}
}
@media (min-width: 768px) {
	.navbar-nav>li>a {
	    padding-top: 40px;
	    padding-bottom: 10px;
	}
	.navbar-right {
		margin-right: 0;
		margin-top:-7px;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0;
	}
}
@media (max-width:  767px) {
	.navbar-brand {
		width: 75%;
	}
	.navbar-brand>img {
		width: 100%;
	}
	.navbar-toggle {
		border-color: #0055a4;
		margin-top: 10%;
	}
	.my_fa {
		margin-left: 0;
		width: 100%;
	}
	.bd {
		height: auto!important;
	}
	.rmxm-item .tit {
		text-align: center;
	}
	.bzjt .bd-main li a {
		font-size: 14px;
	}
	.c1,.c2,.c3,.c4,.c5 {
		width: 50%;
		margin-bottom: 15px;
	}
	.nav-tabs>li>a {
	font-size: 14px;
	}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
		font-size: 14px;
	}
	.tab-content .tab-pane {
		padding: 10px;
	}
	body {
		padding-top: 100px;
	}
}

.navigation{width:100%; background-color:#02192B; height:350px;}
.navigation_c{width:1170px; margin:0 auto;}
@media (max-width:1200px){
	.navigation{ width:100%;}
	.navigation_c{width:960px; margin:0 auto;}
	.navigation_right{margin-right:100px; width:50%;}
	.navigation_lelf { margin-left:100px;}
	.navbar-brand>img{ width:150px;}
	.navigation_right div .navigation_right_imgs{position:absolute; top:0 ;right:-10%;}
	
}
.navigation_lelf {float:left; width:20%; margin-top:70px;}
.navigation_lelf a{float:left;text-decoration:none; margin:10px 20px;}
.navigation_lelf a:hover{float:left;text-decoration:none;}
.navigation_right{float:right; width:35.5%; margin-top:70px;}
.navigation_right_imgs{position:absolute; top:0 ;right:3px;}
.navigation_right h1{font-size: 1.8rem;margin-bottom:20px; color:#FFF;font-family: "Arial";font-weight: normal;}
.navigation_right p{font-size: 1.6rem;color:#FFF;}